# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Cache
cache/

# Environment
.env
.env.*
!.env.example

# Node
node_modules/
/web/knowledge-graph-sigma-starter/node_modules

# OS
.DS_Store
Thumbs.db
